<div xmlns:th="http://www.w3.org/1999/xhtml">
    <form action="#" method="post">
        <div th:each="field : ${fields}">
            <label th:for="${field.name}" th:text="${field.name}"></label>

            <label>
                <input type="text" th:if="${field.isRelation == 'false'}" th:id="${field.name}" th:name="${field.name}"
                       th:placeholder="'Digite o ' + ${field.name}" th:type="${field.type == 'Integer' ? 'number' : 'text'}">
            </label>

            <select th:if="${field.isRelation == 'true'}" th:attr="name=${field.name}">
                <option value="" disabled selected>Selecione</option>
                <option th:each="item : ${field.relatedValues}"
                        th:value="${item.id}"
                        th:text="${item.name}">
                </option>
            </select>
        </div>
        <button type="submit">Salvar</button>
    </form>
</div>
