<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title th:insert="~{::title}">Título Padrão</title>
        <link rel="stylesheet" th:href="@{/css/header.css}" />
    </head>
    <body>
        <header th:replace="fragments/header :: header"></header>

        <main>
            <section th:fragment="section">
                <h1>Base Section</h1>
                <p>Este é um conteúdo de base.</p>
            </section>
        </main>
    </body>
</html>
