<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="base">
<head>
    <title th:text="Home"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="d-flex justify-items-center margin-top-10">
        <span class="title">Classificação</span>
    </div>
    <table class="margin-top-10 table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Pontos</th>
                <th>Vitórias</th>
                <th>Empates</th>
                <th>Derrotas</th>
                <th>Gols Marcados</th>
                <th>Gols Sofridos</th>
                <th>Aproveitamento</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="team : ${teamList}">
                <td th:text="${team.name}"></td>
                <td th:text="${team.points}"></td>
                <td th:text="${team.wins}"></td>
                <td th:text="${team.draws}"></td>
                <td th:text="${team.losses}"></td>
                <td th:text="${team.goalsScored}"></td>
                <td th:text="${team.goalsConceded}"></td>
                <td th:text="${team.matches > 0 ? (team.wins * 100.0) / team.matches : 0}"></td>
            </tr>
        </tbody>
    </table>
</section>
</body>
</html>
