@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Poppins;
}

ul {
    padding: 0;
    margin: 0;
}

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.horizontal-list {
    display: flex;
    list-style: none;
}

.horizontal-list li {
    margin-right: 5px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.margin-end-4 {
    margin-right: 4px;
}

.margin-end-5 {
    margin-right: 5px;
}

.margin-end-25 {
    margin-right: 25px;
}

.margin-start-5 {
    margin-left: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.border-top {
    border-top: 1px solid #dee2e6;
}
.modal-body {
    text-align: left;
}

.btn-create {
    background-color: #28A745;
    color: white;
}

.btn-create:hover {
    background-color: #218838;
}

.btn-create:active {
    background-color: #1E7E34;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.btn-show {
    background-color: #4287f5;
    color: black;
}

.btn-show:hover {
    background-color: #306ccf;
}

.btn-show:active {
    background-color: #d99a00;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.btn-edit {
    background-color: #FFC107;
    color: black;
}

.btn-edit:hover {
    background-color: #e3ab02;
}

.btn-edit:active {
    background-color: #d99a00;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.btn-delete {
    background-color: #DC3545;
    color: white;
}

.btn-delete:hover {
    background-color: #c82333;
}

.btn-delete:active {
    background-color: #a71d2a;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

button:hover {
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.4);
}

button {
    min-width: 70px;
    max-width: 200px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
    cursor: pointer;
    border: 2px solid transparent;
}

.btn-edit:active {
    background-color: #e3ab02;
}

.btn-save {
    background-color: #4CAF50;
    color: white;
}

.btn-save:hover {
    background-color: #45a049;
}

.btn-save:active {
    background-color: #3e8e41;
}

.title-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.d-flex {
    display: flex;
    align-items: center;
}

.justify-items-between {
    justify-content: space-between;
}

.justify-items-center {
    justify-content: center;
}

.d-inline {
    display: inline;
}

.ms-auto {
    margin-left: auto;
}

.modal-header {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 5px 0;
    margin-bottom: 10px;
}

.close-btn {
    border: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    padding: 0;
    text-align: right;
}

.text-end {
    text-align: right;
}

.text-center {
    text-align: center;
}

input {
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
}

input::placeholder {
    color: #999;
    font-style: italic;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

