<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title layout:title-pattern="Site :: [Title]"></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css"/>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div th:replace="~{fragments/header}"></div>
        <main layout:fragment="content" class="container"></main>
    </body>
</html>
